@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
      justify-content: center;
      font-size: 24px;
      line-height: 39px;
      width: 343px;
      text-align: center;
    }

    &__subtitle {
      font-size: 14px;
      line-height: 22px;
      width: 343px;
      text-align: center;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    &__img {
      width: 343px;
    }
  }

  .game-seasons {
    &__box {
      flex-direction: column;
      gap: 32px;
      padding-top: 64px;
      padding-bottom: 64px;
    }

    &__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 343px;
    }
    &__img {
      width: 344px;
      height: 236px;
    }
  }

  .game-memory{
    &__box {
      flex-direction: column;
      gap: 32px;
      padding-top: 64px;
      padding-bottom: 64px;
    }
    &__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 343px;
    }
    &__img {
      width: 344px;
      height: 236px;
    }
  }

  .game-riddels{
    &__box{
      flex-direction: column;
      gap: 32px;
      padding-top: 64px;
      padding-bottom: 64px;
    }
    
  }

  .game__title {
    font-size: 32px;
    line-height: 39px;
  }

  .game__description {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
}
