* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;
}

button {
  height: 48px;
  width: 234px;
  background-color: #9c0332;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  background-color: #eb443f;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  height: 1024px;
  background-color: #fff;
  background-image: url(img/bgi.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header__title {
  padding-top: 164px;
  max-width: 788px;
  color: #fff;
  font-size: 64px;
  line-height: 78px;
}
.header__subtitle {
  padding-top: 24px;
  color: #fff;
  max-width: 481px;
  padding-bottom: 34px;
}

.menu {
  background-color: #000915;
  display: flex;
  padding-top: 32px;
  padding-bottom: 64px;
  gap: 32px;
}
.menu__item {
  position: relative;
  box-sizing: border-box;
  transition: all 0.3s;
  cursor: pointer;
}
.menu__item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #08c2cf;
  border-radius: 16px;
}
.menu__text {
  position: absolute;
  bottom: 24px;
  left: 16px;
  color: #ffffff;
  font-size: 24px;
  line-height: 32px;
}

.game-seasons {
  background-color: #000915;
}
.game-seasons__box {
  padding-top: 164px;
  padding-bottom: 144px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.game-seasons__left {
  max-width: 534px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.game-memory {
  background-color: #000915;
}
.game-memory__box {
  padding-top: 164px;
  padding-bottom: 144px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
.game-memory__left {
  max-width: 534px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.game__title {
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
}

.game__description {
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__title {
    justify-content: center;
    font-size: 24px;
    line-height: 39px;
    width: 343px;
  }
  .header__subtitle {
    font-size: 14px;
    line-height: 22px;
    width: 343px;
  }
  .menu {
    display: flex;
    flex-direction: column;
  }
  .menu__img {
    width: 343px;
  }
  .game-seasons__box {
    flex-direction: column;
    gap: 32px;
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .game-seasons__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 343px;
  }
  .game-seasons__img {
    width: 344px;
    height: 236px;
  }
  .game-memory__box {
    flex-direction: column;
    gap: 32px;
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .game-memory__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 343px;
  }
  .game-memory__img {
    width: 344px;
    height: 236px;
  }
  .game__title {
    font-size: 32px;
    line-height: 39px;
  }
  .game__description {
    font-size: 14px;
    line-height: 22px;
  }
}/*# sourceMappingURL=style.css.map */